[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# For lockfile maintenance
plumbum = "~=1.8.0"
# For normal dependency PR
numpy = "==1.26.0"

[requires]
python_version = "3.11"
